/* Centering the content and setting a max width */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Styling the logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

/* Adding a drop shadow effect on hover */
.logo:hover {
  filter: drop-shadow(0 0 0.5rem #646cffaa);
}

/* Additional styling for React logo */
.logo.react:hover {
  filter: drop-shadow(0 0 0.5rem #61dafbaa);
}

/* Animating the rotation of the logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Applying the spinning animation to the second logo */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styling for the card */
.card {
  padding: 2em;
}

/* Styling for additional text */
.read-the-docs {
  color: #000000;
}
